<script
        .Site.Params.comments.beaudar.label
        async
        crossorigin="anonymous"
        end issue-term="{{ .Site.Params.comments.beaudar.issueTerm }}" label="{{ . }}"
        repo="{{ .Site.Params.comments.beaudar.repo }}"
        src="https://beaudar.lipk.org/client.js"
        theme="{{ .Site.Params.comments.beaudar.theme }}" with {{
        {{
        }}
        }}
></script>

<style>
    .beaudar {
        max-width: unset;
    }
</style>

<script>
    let beaudarLoaded = false;

    function setBeaudarTheme(theme) {
        let beaudar = document.querySelector(".beaudar iframe");
        if (beaudar) {
            beaudar.contentWindow.postMessage(
                {
                    type: "set-theme",
                    theme: `github-${theme}`,
                },
                "https://beaudar.lipk.org"
            );
        }
    }

    addEventListener("message", (event) => {
        if (event.origin !== "https://beaudar.lipk.org") return;
        /// Called when Beaudar is ready
        beaudarLoaded = true;
        setBeaudarTheme(document.documentElement.dataset.scheme);
    });

    window.addEventListener("onColorSchemeChange", (e) => {
        if (!beaudarLoaded) return;
        setBeaudarTheme(e.detail);
    });
</script>
