{{- $List := index .Context.Site.Data.external .Namespace -}}
{{- with $List -}}
{{- range . -}}
{{- if eq .type "script" -}}
<script
        -}}
        -}} .defer .integrity crossorigin="anonymous"
        end
        end if integrity="{{ . }}"
        src="{{ .src }}"
        with {{ {{- {{- }} }}defer{{
>
</script>
{{- else if eq .type "style" -}}
<link
        -}}
        -}}
        .integrity crossorigin="anonymous" end href="{{ .src }}"
        integrity="{{ . }}"
        rel="stylesheet" with {{-
        {{-
>
{{- else -}}
{{- errorf "Error: unknown external resource type: %s" .type -}}
{{- end -}}
{{- end -}}
{{- else -}}
{{- errorf "Error: external resource '%s' is not found" .Namespace -}}
{{- end -}}