<div class="article-list--compact links">
    {{ range $i, $link := .Params.links }}
    <article>
        <a href="{{ $link.website }}" rel="noopener" target="_blank">
            <div class="article-details">
                <h2 class="article-title">
                    {{- $link.title -}}
                </h2>
                <footer class="article-time">
                    {{ with $link.description }}
                    {{ . }}
                    {{ else }}
                    {{ $link.website }}
                    {{ end }}
                </footer>
            </div>

            {{ with $link.image }}
            {{ $permalink := . }}
            {{ with ($.Resources.GetMatch (printf "%s" (. | safeURL))) }}
            {{ $permalink = .RelPermalink }}
            {{ end }}
            <div class="article-image">
                <img loading="lazy" src="{{ $permalink }}">
            </div>
            {{ end }}
        </a>
    </article>
    {{ end }}
</div>