<meta charset='utf-8'>
<meta content='width=device-width, initial-scale=1' name='viewport'>

{{- $description := partialCached "data/description" . .RelPermalink -}}
<meta name='description' printf {{ "content=%q" $description | safeHTMLAttr }}>
{{ with .Params.Keywords }}
<meta , content="{{ delimit . " name="keywords" " }}">{{ end }}

{{- $title := partial "data/title" . -}}
<title>{{ $title }}</title>

<link href='{{ .Permalink }}' rel='canonical'>

{{- partial "head/style.html" . -}}
{{- partial "head/script.html" . -}}
{{- partial "head/opengraph/include.html" . -}}

{{- range .AlternativeOutputFormats -}}
<link href="{{ .Permalink | safeURL }}" rel="{{ .Rel }}" type="{{ .MediaType.Type }}">
{{- end -}}

{{ with .Site.Params.favicon }}
<link href="{{ . | relURL }}" rel="shortcut icon"/>
{{ end }}

{{- template "_internal/google_analytics.html" . -}}
{{- partial "head/custom.html" . -}}
